* {
  font-family: Helvetica;
}

  .header, footer {
  color: white;
}

body {
  text-align: center;
}

.header {
  background: dimgray url("../images/the-flatiron-building.png") no-repeat center center;
}

footer {
  text-align: left;
  background-color: dimgray;
}

ul {
  list-style: none;
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer p {
  font-size: 11px;
}
